{{ define "hero_section" }}
    <section class="hero-section" style="background-image:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
     url(/static/imgs/default-hero.jpg);"
    >
        <div class="heading">
            <h1>JOSEF <span class="h1--thin">Digital</span></h1>
            <h2>Single Page Template</h2>
        </div>

        <a href="#" class="button button--lg">Contact us</a>
    </section>
{{ end }}