{{ define "product_card" }}
    <div class="product-card">
        <h4>Loren Epsom</h4>
        <h5>Loren Epsom</h5>
        <div class="product-card__img" style="background-image: url(/static/imgs/default-hero.jpg)"></div>
        <h6>Loren Epsom</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
{{ end }}