// Colors
$dark-blue: #34495E;
$dark-blue-shadow: #243648;
$green: #2ECC71;
$green-shadow: #27AE60;
$blue: #3498db;
$light-grey: #F1F2F6;
$grey: #7F8FA6;
$grey-shadow: #718093;
$white: #ffffff;
$red: #FF4757;
$dark-red: #c0392b;

// Measurements
$default-margin: 20;
$default-padding: 20;
$button-depth: 5px;

// Components
$default-border-radius: 8;

/// Sections
